body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
    background-color: #2c3930;
    font-family: "Nunito", serif;
}

button{
    font-family: "Nunito", serif;
}

.nav-bar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    gap: 0;
}

.nav-item{
    margin-right: 30px;
    color: #dcd7c9;
    background: none;
    border: none;
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.nav-item:hover{
    color: #f5f3ee;
    border-bottom: 2px solid #f5f3ee;
}

.main-page{
    color: #f5f3ee;
    border-bottom: 2px solid #f5f3ee;
}

.nav-bar-img, .naaah{
    display: none;
}

.homepage{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 70px;
    object-fit: cover;
}

.homepage h1{
    font-family: "Roboto", serif!important;
    font-size: 3rem;
    color: #dcd7c9;
    margin-top: 20px;
}

.homepage h2{
    font-family: "Roboto", serif!important;
    font-size: 1.7rem;
    color: #dcd7c9;
    margin-top: 5px;
    border-bottom: 2px solid #dcd7c9;
    padding-bottom: 10px;
}

.homepage p{
    font-size: 1.5rem;
    color: #dcd7c9;
    width: 500px;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 10px;
}

.only-center{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.about-me{
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #3f4f44;
    width: 600px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me p{
    color: #dcd7c9;
    font-size: 1.2rem;
    
}

.about-me button{
    background-color: #2c3930;
    border: none;
    color: #dcd7c9;
    padding: 15px 40px;
    font-size: 1.6rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.about-me button:hover{
    background-color: #37443b;
}

h{
    font-size: 2rem;
    font-weight: bold;
}

.skills-filter{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 20px;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.skills-filter button{
    margin-left: 15px;
    background-color: #3f4f44;
    font-weight: bold;
    color: #dcd7c9;
    border: none;
    padding: 7px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.skills-filter button:hover{
    background-color: #37443b;
}

.filtered-skills{
    background-color: #a27b5c!important;
}

.container{
    display: flex;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
}

.skills{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1; 
    min-width: auto;
    background-color: #3f4f44;
    color: #dcd7c9;
    border-radius: 8px;
    padding: 15px;
    height: auto;
    cursor: pointer;
}

.skills:hover{
    background-color: #37443b;
}

.skills img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.skills h3{
    font-size: 1.5rem;
    margin: 0;
}

.loading{
    background-color: #a74747;
}

.loading:hover{
    background-color: #b95656;
}

.showoffon{
    display: none;
    position: absolute;
    transform: translateX(-50%);
    z-index: 9999;
    top: 50px;
    left: 50%;
}

.showoffonforproject{
    display: none;
    position: absolute;
    transform: translateX(-50%);
    z-index: 9999;
    top: 130px;
    left: 50%;
}

.showoffonforproject p{
    font-size: 1rem!important;
}

.warning{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background-color: #523535;
}

.warning div{
    width: auto;
    height: auto;
    border: 2px solid #a74747;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.warning img{
    width: 20px;
    margin: 0 10px 5px 10px;
}

.warning p{
    color: #a74747;
    font-size: 1.5rem;
    margin-top: 7px;
    margin-right: 5px;
}

.centeredheading{
    width: 100%;
    display: flex;
    justify-content: center;
}

.centeredheading h1{
    color: #dcd7c9;
    font-size: 3rem;
    margin: 30px 0;
}

.container-edu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-wrap: wrap;
}

.faculty{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.icon{
    background-color: #3f4f44;
    width: 200px;
    height: 180px;
    margin-bottom: 20px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.icon img{
    width: 150px;
}

.faculty h2,p{
    color: #dcd7c9;
    margin-bottom: 10px;
}

.container-projects{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.project{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 270px;
    margin-left: 20px;
    background-color: #3f4f44;
    padding: 10px;
    border-radius: 10px;
}

.project:hover{
    background-color:#37443b;
}

.project img{
    width: 200px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 10px;
    object-fit: cover;
}

.project h2{
    color: #dcd7c9;
    font-size: 1.5rem;
}

.container-contact{
    display: flex;
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3f4f44;
    color: #dcd7c9;
    border-radius: 8px;
    padding: 15px;
    height: auto;
    cursor: pointer;
}

.contact:hover{
    background-color:#37443b;
}

.contact img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.contact h3{
    font-size: 2rem;
    margin: 0 15px;
}

img, h1, h2, h3{
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0.3;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-device-width: 1200px) { 
    .warning{
        margin: 20px 0;
        max-width: 600px;
    }
    
    .warning p{
        font-size: 1rem;
    }

    .nav-item{
        margin-right: 10px;
        font-size: 1rem;
        margin-top: 15px;
    }

    .my-photo{
        width: 130px;
        height: 130px;
        margin-top: 60px;
    }
    
    .homepage h1{
        font-size: 2.5rem;
    }
    
    .homepage h2{
        font-size: 1.3rem;
    }
    
    .homepage p{
        font-size: 1.2rem;
    }

    .about-me{
        width: 500px;
    }
    
    .about-me p{
        font-size: 1rem;
        
    }
    
    .about-me button{
        padding: 12px 35px;
        font-size: 1.3rem;
    }
    
    h{
        font-size: 1.5rem;
    }
    
    .skills-filter button{
        margin-left: 13px;
        padding: 5px 18px;
        font-size: 0.8rem;
    }
    
    .container{
        display: flex;
        gap: 12px;
    }
    
    .skills{
        padding: 13px;
    }
    
    .skills img{
        width: 35px;
        height: 35px;
        margin-right: 8px;
    }
    
    .skills h3{
        font-size: 1.3rem;
    }

    .showoffonforproject p{
        font-size: 0.7rem!important;
    }
    
    .warning img{
        width: 18px;
    }
    
    .warning p{
        font-size: 1.2rem;
    }

    .centeredheading h1{
        font-size: 2.5rem;
    }

    .container-edu{
        gap: 45px;
    }

    .faculty{
        width: 190px;
    }

    .icon{
        width: 190px;
        height: 170px;
    }

    .icon img{
        width: 140px;
    }

    .faculty h2{
        font-size: 1.3rem;
    }

    .project{
        width: 190px;
        height: 260px;
        padding: 8px;
    }
    
    .project img{
        width: 190px;
        height: 170px;
    }
    
    .project h2{
        font-size: 1.2rem;
    }

    .showoffonforproject{
        top: 120px;
    }

    .container-contact{
        gap: 25px;
    }
    
    .contact{
        padding: 12px;
    }

    .contact img{
        width: 45px;
        height: 45px;
    }
    
    .contact h3{
        font-size: 1.8rem;
    }
}


@media (min-device-width: 600px) and (max-device-width: 899px) { 
    .click{
        display: block;
        position: absolute;
        z-index: 9999;
        width: 35px;
        right: 25px;
        top: 30px;
    }

    .for-mobile{
        display: none;
        position: absolute;
        width: 200px;
        height: 100%;
        z-index: 9990;
        right: 0;
        background-color: #3f4f44;
        padding-left: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
    }
    
    .nav-bar-img{
        width: 30px;
    }

    .nav-item{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1rem;
        margin-top: 25px;
    }

    .main-page{
        border-bottom: none;
    }
    
    .warning{
        margin-top: -10px;
    }

    .my-photo{
        margin-top: 90px;
    }

    .about-me{
        margin-top: 80px;
    }

    .skills-filter{
        margin-top: 0;
        padding-top: 20px;
    }
    
    .skills-filter button{
        font-size: 0.7rem;
    }
    
    .skills img{
        width: 32px;
        height: 32px;
        margin-right: 7px;
    }
    
    .skills h3{
        font-size: 1.2rem;
    }

    .showoffonforproject p{
        font-size: 0.6rem!important;
    }

    .warning p{
        font-size: 1rem;
    }

    .centeredheading h1{
        font-size: 2.5rem;
    }

    .container-edu{
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        flex-wrap: wrap;
    }

    .container-projects{
        gap: 20px;
        padding-left: 10px;
        justify-content: center;
    }

    .project{
        margin-left: 0;
    }

    .showoffonforproject{
        top: 100px;
    }

    .centeredheading{
        margin-top: 0!important;
    }
}

@media (max-device-width: 599px) { 
    .click{
        display: block;
        position: absolute;
        z-index: 9999;
        width: 35px;
        right: 25px;
        top: 30px;
    }

    .for-mobile{
        display: none;
        position: absolute;
        width: 200px;
        height: 100%;
        z-index: 9990;
        right: 0;
        background-color: #3f4f44;
        padding-left: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
    }
    
    .nav-bar-img{
        width: 30px;
    }

    .nav-item{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1rem;
        margin-top: 25px;
    }

    .main-page{
        border-bottom: none;
    }
    
    .my-photo{
        width: 130px;
        height: 130px;
        margin-top: 100px;
    }
    
    .homepage h1{
        font-size: 2rem;
    }
    
    .homepage h2{
        font-size: 1.2rem;
    }
    
    .homepage p{
        font-size: 1.2rem;
        width: 320px;
    }

    .about-me{
        margin-top: 80px;
        width: 300px;
    }

    .about-me button{
        padding: 10px 30px;
        font-size: 1rem;
    }

    .skills-filter button{
        font-size: 0.6rem;
    }

    .skills-filter{
        margin-top: 0;
        padding-top: 20px;
    }
    
    .container{
        gap: 10px;
    }
    
    .skills{
        padding: 10px;
    }
    
    .skills img{
        width: 30px;
        height: 30px;
        margin-right: 7px;
    }
    
    .skills h3{
        font-size: 1.1rem;
    }

    .showoffonforproject p{
        font-size: 0.9rem!important;
    }
    
    .warning img{
        width: 18px;
    }
    
    .warning p{
        font-size: 1.2rem;
    }

    .warning{
        margin: 20px 0;
        max-width: 600px;
    }
    
    .warning p{
        font-size: 1rem;
    }

    .centeredheading h1{
        font-size: 2.3rem;
    }

    .container-edu{
        gap: 25px;
    }

    .container-projects{
        justify-content: center;
        gap: 20px;
    }

    .showoffonforproject{
        top: 70px;
    }

    .centeredheading{
        margin-top: 0!important;
    }
}