body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
    background-color: #f5f5f5;
    font-family: "Nunito", serif;
    color: #333333;
}

button{
    font-family: "Nunito", serif;
}

.menu, .close{
    display: none;
}

.nav-bar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    gap: 0;
}

.nav-item{
    margin-right: 20px;
    background: none;
    border: none;
    font-size: 0.8rem;
    margin-top: 20px;
    cursor: pointer;
}

.nav-item:hover{
    color: #535353;
}

.main-page{
    color: #535353;
}

.container-home{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 90vh;
}

.container-home img{
    background-color: #333333;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.child-home-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    max-width: 400px;
}

.child-home-container p{
    margin-top: 10px;
    font-size: 0.9rem;
}

.link{
    color: #535353;
    font-weight: bold;
    text-decoration: underline;
}

.child-home-container div{
    margin-top: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 7px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    color: #f5f5f5;
    font-size: 0.87rem;
}

.one{
    background-color: #f5f5f5;
    border: 1px solid #007bff;
    color: #007bff;
}

.two:hover{
    background-color: #208cff;
}

.div-for-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
}

.div-for-heading>p{
    width: auto;
    max-width: 800px;
    text-align: center;
    font-size: 0.9rem;
    
}

.container-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    width: 100%;
    margin: 50px 0;
}

.single-project{
    display: flex;
    flex-direction: column;
    width: 310px;
}

.single-project img{
    width: 100%;
    height: 180px;
    background-color: #333333;
    border-radius: 5px;
}

.single-project h3{
    font-size: 1.3rem;
    margin-top: 12px;
    margin-bottom: 7px;
}

.single-project p{
    font-size: 0.8rem;
}

.container-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.post{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    margin-top: 15px;
}

.post h2{
    font-size: 2rem;
}

.date{
    font-size: 0.7rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.post img{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin-top: 10px;
}

.centeredheading{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 170px;
    color: #333333;
}

.container-contact{
    display: flex;
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333333;
    border-radius: 8px;
    padding: 10px;
    height: auto;
    cursor: pointer;
    border: 1px solid #007bff;
    font-weight: normal;
}

.contact img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.contact h3{
    font-size: 1.5rem;
    margin: 0 15px;
    font-weight: normal;
}

@media (max-width: 647px){
    .for-mobile{
        display: none;
    }

    .nav-bar{
        width: 180px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        gap: 15px;
        align-items: flex-start;
        background-color: white;
        padding: 0;
        padding-left: 8px;
        z-index: 1000;
        position: fixed;
        top: 45px;
        right: 45px;
        border-radius: 5px;
    }
    
    .nav-item{
        margin: 0;
        font-size: 1.1rem;
    }

    .menu{
        display: block;
        width: 20px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 10000;
    }

    .close{
        width: 20px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 10000;
    }

    .container-home{
        flex-direction: column;
        gap: 30px;
        height: auto;
        margin-top: 50px;
    }
    
    .container-home img{
        width: 180px;
        height: 180px;
    }
    
    .child-home-container{
        align-items: center;
        text-align: center;
    }
    
    .child-home-container p{
        font-size: 0.9rem;
    }

    .child-home-container h1{
        font-size: 1.3rem;
    }

    .child-home-container h2{
        font-size: 1.2rem;
    }
    
    
    .child-home-container div{
        justify-content: center;
        margin-bottom: 15px;
    }

    .single-project{
        width: 290px;
    }
    
    .single-project h3{
        font-size: 1.2rem;
    }
    
    .container-blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    
    .post{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
    }
    
    .post h2{
        font-size: 1.7rem;
    }
    
    .post p{
        font-size: 0.8rem;
    }
    
    .date{
        font-size: 0.5rem!important;
    }
    
    .post img{
        max-height: 250px;
    }

    .centeredheading{
        margin-top: 70px;
    }
}