<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="../public/style/style.css" rel="stylesheet">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <img src="../public/images/navbarmenu.png" class="click naaah">

    <div class="for-mobile">
    <div class="nav-bar">
        <a href="../index.html"><button class="nav-item">
            <img src="../public/images/home.png" class="nav-bar-img">
            HOME
        </button></a>
        <a href="about.html"><button class="nav-item main-page">
            <img src="../public/images/about.png" class="nav-bar-img">
            ABOUT
        </button></a>
        <a href="skills.html"><button class="nav-item">
            <img src="../public/images/skills.png" class="nav-bar-img">
            SKILLS
        </button></a>
        <a href="education.html"><button class="nav-item">
            <img src="../public/images/education.png" class="nav-bar-img">
            EDUCATION
        </button></a>
        <a href="projects.html"><button class="nav-item">
            <img src="../public/images/projects.png" class="nav-bar-img">
            PROJECTS
        </button></a>
        <a href="contact.html"><button class="nav-item">
            <img src="../public/images/contact.png" class="nav-bar-img">
            CONTACT
        </button></a>
    </div>
    </div>
    
    <div class="only-center">

    <div class="about-me">
        <p>
            <h>Nika – Full Stack Developer </h>🚀<br><br>

            Hey there! I'm Nika, a dedicated Full Stack Developer passionate about 
            continuous learning and working on large-scale projects.<br>
            Technologies I Work With:<br><br>
                🛠 Frontend: HTML, CSS, JavaScript<br>
                ⚡ Backend: Node.js, Express.js, API, EJS<br>
                🔍 Other: Some C++<br><br>
            I’ve always been fascinated by web development because I can see my code come to life. 
            Writing code that transforms into something visual and interactive is both satisfying and enjoyable.
            What I Value in Development:<br><br>
            ✅ Clean and readable code – clear logic and maintainability<br>
            ✅ Precision and attention to detail – optimized and structured solutions<br>
            ✅ High quality and efficiency – delivering the best possible results<br><br>
            I’m currently working on small projects independently, but my goal is to contribute to large and impactful projects. 
            I’m actively seeking opportunities to expand my skills and grow as a developer.<br>
            Let’s Connect!
        </p>

        <button onclick="window.location.href='contact.html'">
            CONTACT ME
        </button>
    </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../index.js" charset="UTF-8"></script>
</body>
</html>