
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="../public/style/style.css" rel="stylesheet">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <img src="../public/images/navbarmenu.png" class="click naaah">

    <div class="for-mobile">
    <div class="nav-bar">
        <a href="../index.html"><button class="nav-item">
            <img src="../public/images/home.png" class="nav-bar-img">
            HOME
        </button></a>
        <a href="about.html"><button class="nav-item">
            <img src="../public/images/about.png" class="nav-bar-img">
            ABOUT
        </button></a>
        <a href="skills.html"><button class="nav-item">
            <img src="../public/images/skills.png" class="nav-bar-img">
            SKILLS
        </button></a>
        <a href="education.html"><button class="nav-item main-page">
            <img src="../public/images/education.png" class="nav-bar-img">
            EDUCATION
        </button></a>
        <a href="projects.html"><button class="nav-item">
            <img src="../public/images/projects.png" class="nav-bar-img">
            PROJECTS
        </button></a>
        <a href="contact.html"><button class="nav-item">
            <img src="../public/images/contact.png" class="nav-bar-img">
            CONTACT
        </button></a>
    </div>
    </div>

    <div class="centeredheading"><h1>EDUCATION</h1></div>

    <div class="container-edu">
        <div class="faculty">
            <div class="icon"><img src="../public/images/webdevelopment1.png"></div>

            <h2>WebDevelopment</h2>
            <p>Angela Yu's Udemy online course</p>
        </div>

        <div class="faculty">
            <div class="icon"><img src="../public/images/digitalmarketing1.png"></div>

            <h2>Digital Marketing</h2>
            <p>TBC Bank online course</p>
        </div>

        <div class="faculty">
            <div class="icon"><img src="../public/images/math1.png"></div>

            <h2>Mathematics</h2>
            <p>Tbilisi State University (TSU)</p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../index.js" charset="UTF-8"></script>
</body>
</html>