<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="icon" type="image/png" sizes="512x512" href="../public/images/title.png">
    <link href="../public/style/style.css" rel="stylesheet">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <img src="../public/images/menu.png" class="menu" id="menu-icon" alt="menu">
    <img src="../public/images/close.png" class="close" id="close-icon" alt="close">
    
    <div class="for-mobile" id="mobile-menu">
        <div class="nav-bar">
            <a href="../index.html" class="nav-item">
                Home
            </a>
            <a href="./portfolio.html" class="nav-item main-page">
                Portfolio
            </a>
            <a href="./blog.html" class="nav-item">
                Blog
            </a>
            <a href="./contact.html" class="nav-item">
                Contact
            </a>
        </div>
    </div>
    
    <div class="div-for-heading">
        <h1>
        Portfolio
        </h1>

        <p>
            I work on functional and responsive web projects, 
            I am well versed in and use frontend and backend technologies in projects, 
            and I interact with databases.
        </p>
    </div>

    <div class="container-projects">

        <div class="single-project">
            <img src="../public/images/inboxify.PNG">
            <h3>
                Inboxify
            </h3>
            <p>
                This is a full-featured email platform with all the functionality
                for creating an account and receiving and sending email. greate responsive and good UI/UX
                <a href="https://github.com/NikaEbraLidze/Inboxify" class="code-link">See code</a>
            </p>
        </div>

        <div class="single-project">
            <img src="../public/images/watch-website.PNG">
            <h3>
                WatchWebsite
            </h3>
            <p>
                I created a full-fledged watch sales website, with interesting and simple ReactJS code. 
                The site is optimized for all devices and has added many professional functionalities.
                <a href="https://github.com/NikaEbraLidze/watch-website" class="code-link">See code</a>
            </p>
        </div>
        
        <div class="single-project">
            <img src="../public/images/book note.PNG">
            <h3>
                BOOK NOTE
            </h3>
            <p>
                led in designing, modifying, and managing databases. 
                Can efficiently store, retrieve, and update data in backend applications.
                <a href="https://github.com/NikaEbraLidze/Notebook" class="code-link">See code</a>
            </p>
        </div>

        <div class="single-project">
            <a href="https://nikaebralidze.github.io/Rock-Paper-Scissors/"><img src="../public/images/rock papper scissors.png"></a>
            <h3>
                ROCK PAPPER SCISSORS
            </h3>
            <p>
                Proficient in JavaScript and jQuery for frontend interactivity. 
                Utilized these technologies along with HTML and CSS for dynamic UI manipulation.
                <a href="https://github.com/NikaEbraLidze/Rock-Paper-Scissors" class="code-link">See code</a>
            </p>
        </div>

        <div class="single-project">
            <a href="https://math-website-zt9d.onrender.com/"><img src="../public/images/math-website.png"></a>
            <h3>
                MATH WEBSITE
            </h3>
            <p>
                Experience in working with public APIs and building RESTful APIs with security best practices. 
                processes data from a public API.
                <a href="https://github.com/NikaEbraLidze/Math-Website" class="code-link">See code</a>
            </p>
        </div>

    </div>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../index.js" charset="UTF-8"></script>
</body>
</html>