<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="../public/style/style.css" rel="stylesheet">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <img src="../public/images/menu.png" class="menu" id="menu-icon" alt="menu">
    <img src="../public/images/close.png" class="close" id="close-icon" alt="close">
    
    <div class="for-mobile" id="mobile-menu">
        <div class="nav-bar">
            <a href="../index.html" class="nav-item">
                Home
            </a>
            <a href="./portfolio.html" class="nav-item main-page">
                Portfolio
            </a>
            <a href="./blog.html" class="nav-item">
                Blog
            </a>
            <a href="./contact.html" class="nav-item">
                Contact
            </a>
        </div>
    </div>
    
    <div class="div-for-heading">
        <h1>
        Portfolio
        </h1>

        <p>
            I have worked on various web projects, focusing on API development,
            authentication, database management, and full-stack functionality,
            ensuring secure and efficient web solutions using modern technologies.
        </p>
    </div>

    <div class="container-projects">
        
        <div class="single-project">
            <img src="../public/images/book note.PNG">
            <h3>
                BOOK NOTE
            </h3>
            <p>
                led in designing, modifying, and managing databases. 
                Can efficiently store, retrieve, and update data in backend applications.
            </p>
        </div>

        <div class="single-project">
            <a href="https://nikaebralidze.github.io/Rock-Paper-Scissors/"><img src="../public/images/rock papper scissors.png"></a>
            <h3>
                ROCK PAPPER SCISSORS
            </h3>
            <p>
                Proficient in JavaScript and jQuery for frontend interactivity. 
                Utilized these technologies along with HTML and CSS for dynamic UI manipulation.
            </p>
        </div>

        <div class="single-project">
            <a href="https://math-website-zt9d.onrender.com/"><img src="../public/images/math-website.png"></a>
            <h3>
                MATH WEBSITE
            </h3>
            <p>
                Experience in working with public APIs and building RESTful APIs with security best practices. 
                processes data from a public API.
            </p>
        </div>

        <div class="single-project">
            <a href="https://blog-website-b5ob.onrender.com/"><img src="../public/images/blog-website.png"></a>
            <h3>
                BLOG WEBSITE
            </h3>
            <p>
                Extensive experience with Git, Express.js, 
                middleware, npm, EJS, and other web technologies.
            </p>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../index.js" charset="UTF-8"></script>
</body>
</html>