<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href="../public/style/style.css" rel="stylesheet">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <img src="../public/images/navbarmenu.png" class="click naaah">

    <div class="for-mobile">
    <div class="nav-bar">
        <a href="../index.html"><button class="nav-item">
            <img src="../public/images/home.png" class="nav-bar-img">
            HOME
        </button></a>
        <a href="about.html"><button class="nav-item">
            <img src="../public/images/about.png" class="nav-bar-img">
            ABOUT
        </button></a>
        <a href="skills.html"><button class="nav-item main-page">
            <img src="../public/images/skills.png" class="nav-bar-img">
            SKILLS
        </button></a>
        <a href="education.html"><button class="nav-item">
            <img src="../public/images/education.png" class="nav-bar-img">
            EDUCATION
        </button></a>
        <a href="projects.html"><button class="nav-item">
            <img src="../public/images/projects.png" class="nav-bar-img">
            PROJECTS
        </button></a>
        <a href="contact.html"><button class="nav-item">
            <img src="../public/images/contact.png" class="nav-bar-img">
            CONTACT
        </button></a>
    </div>
    </div>
    
    <div class="skills-filter">
        <button>
            Web-Development
        </button>
        <button>
            Digital Marketing
        </button>
    </div>

    <div class="showoffon">
        <div class="warning">
            <div>
                <img src="../public/images/warning.png">
                <p>I will learn this very soon</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="skills w">
            <img src="../public/images/fullstack.png">
            <h3>Full-Stack</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/backend.png">
            <h3>Back-End</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/frontend.png">
            <h3>Front-End</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/java-script.png">
            <h3>JavaScript</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/nodejs.png">
            <h3>Node.js</h3>
        </div>

        <div class="skills loading">
            <img src="../public/images/react.png">
            <h3>React.js</h3>
        </div>

        <div class="skills loading">
            <img src="../public/images/sql.png">
            <h3>SQL</h3>
        </div>

        <div class="skills loading">
            <img src="../public/images/postgresql.png">
            <h3>PostgreSQL</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/express.png">
            <h3>Express.js</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/api.png">
            <h3>API</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/ejs.png">
            <h3>EJS</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/jquery.png">
            <h3>jQuery</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/html5.png">
            <h3>HTML5</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/css.png">
            <h3>CSS3</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/git.png">
            <h3>GIT</h3>
        </div>
        
        <div class="skills w">
            <img src="../public/images/npm.png">
            <h3>npm</h3>
        </div>
        
        <div class="skills">
            <img src="../public/images/problemsolving.png">
            <h3>Problem-Solving Ability</h3>
        </div>
        
        <div class="skills">
            <img src="../public/images/fastlearning.png">
            <h3>Fast Learning</h3>
        </div>
        
        <div class="skills">
            <img src="../public/images/timemanagment.png">
            <h3>Time Management</h3>
        </div>
        
        <div class="skills">
            <img src="../public/images/comunication.png">
            <h3>Communication</h3>
        </div>
        
        <div class="skills">
            <img src="../public/images/clientinteraction.png">
            <h3>Client Interaction</h3>
        </div>
        
        <div class="skills">
            <img src="../public/images/creativity.png">
            <h3>Creativity</h3>
        </div>
        
        <div class="skills">
            <img src="../public/images/c++.png">
            <h3>C++</h3>
        </div>
        
        <div class="skills">
            <img src="../public/images/microsoftoffice.png">
            <h3>Microsoft Office</h3>
        </div>
        
        <div class="skills m">
            <img src="../public/images/digitalmarketigg.png">
            <h3>Digital Marketing</h3>
        </div>
        
        <div class="skills m">
            <img src="../public/images/onlineadvertising.png">
            <h3>Online Advertising</h3>
        </div>
        
        <div class="skills m">
            <img src="../public/images/googleads.png">
            <h3>Google Ads</h3>
        </div>
        
        <div class="skills m">
            <img src="../public/images/online-marketing.png">
            <h3>Online Marketing</h3>
        </div>
        
        <div class="skills m">
            <img src="../public/images/social-media.png">
            <h3>Social Media</h3>
        </div>
    
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../index.js" charset="UTF-8"></script>
</body>
</html>